:root {
  --ff: "Ubuntu", sans-serif;
  --ff-digital: "ZCOOL QingKe HuangYou", cursive;

  --fw-bold: 700;

  --color-dark: #2f3135;
  --color-4: #5e636b;
  --color-3: #74798e;
  --color-2: #918fb1;
  --color-1: #b7a3d1;
  --color-light: #e4b5ec;
  --color-light-gray: #d3d3d3;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff);
}
